{% extends '::base.html.twig' %}

{% block body -%}
    <h2 class="text-left">Error</h2>

    <p>
        {{ error }}
    </p>
    <ul class="list-unstyled">
        <li>
            <a class="btn btn-primary" role="button" href="{{ path('did_you_do_it_get_all_tasklist') }}">
                Back to the list of all tasklist
            </a>
        </li>
    </ul>
{% endblock %}
